// Spinner
.container__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

// Card
.container__card {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  width: 300px;
  flex-direction: column;
  background-color: #2e2e2e;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 250px;
}

.container__items {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgb(109, 109, 109);
}

.span__city {
  margin: -39px 0px 0px 26px;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.weather__icon {
  height: 100px;
  width: 100px;
}

.container__temperature {
  display: flex;
  // flex-direction: column;
}

.temperature {
  font-size: 24px;
  width: 150px;
  display: flex;
  justify-content: center;
  margin-top: -40px;
}


.arrow-left {
  position: absolute;
  display: flex;
  height: 100vh;
  width: 35px;
  align-items: center;
  transition: 500ms;
  cursor: pointer;

  &:hover {
    background-color: rgb(53, 54, 54);
  }
}

.image {
  height: 28px;
  width: 31px;
}


// container MinMax
.container__minMax {
  display: flex;
  flex-direction: column;
  margin-top: -40px;
  font-size: 12px;
  // height: 16px;
}

.fa-sort-up {
  color: red;
  margin-right: 6px;
  margin-top: 3px;
  // margin-bottom: 5px;
}

.fa-sort-down {
  color: blue;
  margin-right: 5px;
  margin-top: -3px;
}

@media screen and (max-width: 600px) {
  .arrow-left {
    display: none;
  }

  .container__card {
    height: 68vh;
  }
}
