<div class="container__spinner" *ngIf="service.spinner">
  <app-spinner></app-spinner>
</div>


<div *ngIf="service.insertCity" class="container__card">

  <!-- <span>{{weatherDesc}}</span>
  <span>Vento: {{wind}}km/h</span>
  Sunrise: {{sunrise}} -->

  <div class="card">
    <div class="container__items">
      <div style="display: flex; width: 100%;margin-left: -26px; justify-content: center;">
        <span class="span__city">{{service.valueCity}}</span>
      </div>
      <img class="weather__icon" src="{{weatherIcon}}">
    </div>
    <div class="container__temperature">
      <span class="temperature">{{temperature}}°</span>
    </div>
  </div>

  <!-- Google Maps -->
  <app-google-maps></app-google-maps>
</div>
